/* #region variables */
$bgColor: #1f1f1f;
$fgColor: #161616;
$accentColor: #4285F4;
$textColor: whitesmoke;
/* #endregion */

/* #region general-stuff */
body {
    background-color: $bgColor;
}
p {
    color: $textColor;
}
h1 {
    color: $textColor;
}
h2 {
    color: $textColor;
}
h3 {
    color: $textColor;
}
.rainbow-text {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   
    -webkit-background-clip: text;
    background-clip: text;
    -moz-background-clip: text;
    color: transparent;
    text-align: left;
    font-style: bold;
}
.loading-icon {
    color: $accentColor;
    margin: 0;
    height: 100px !important;
    width: 100px !important;
}
.loading-container {
    height: 40em;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* #endregion */

/* #region map */
.map-container {
    position:relative;
    height: 100%;
    width: 100%;
}
.map-fade {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 5em 0em 5em $bgColor;
    z-index: 5;
}
.map-wrapper {
    position: absolute;
    height: 100%;
    width: 49%;
}
/* #endregion */

/* #region topbar */
#state-dropdown {
    position: relative;
    top: 0%;
    left: 50%;
    width:200px;
    align-self: left;
}
.state-dropdown-option{
    width:200px;
}
#topbar {
    z-index: 6;
    background-color: #191919;
    height: 100 px;
    padding:20px;
    display:flex;
    flex-direction: column;
    border-radius: 10px;
}
.topbar-text {
    color: whitesmoke;
    position: relative;
    top: 0%;
    display: inline;
}
/* #endregion */

/* #region statetabs */
#state-tabs {
    width: 105%;
    padding-left: 0;
}
.nav-tabs {
    background-color: $bgColor;
}
.nav-link, .nav-link:focus, .nav-link:hover, .nav-link:active {
    color: $textColor;       
}
.nav-link.active {
    color: black !important;
}
.instructions-container {
    height: 50em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.website-icon {
    max-width: 45%;
    height: auto;
    padding-bottom: 20px;
}
/* #endregion */

/* #region scrollbar */
/* add scrollbar and scrollbar-primary to className if you wish to make container scrollable */
.scrollbar {
    height: 75vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
/* custom scrollbar colors  */
.scrollbar-primary::-webkit-scrollbar {
    background-color: #F5F5F5;
}
.scrollbar-primary {
    scrollbar-color: $accentColor $fgColor;
}
.scrollbar-primary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: $accentColor;
}
/* #endregion */

/* #region redistrictings */
.thumbnail:hover {
    background-color: $accentColor;
    opacity: 0.65;
}
.redistricting-img {
    margin-top: 8%;
    margin-bottom: 8%;
}
#redistrictings {
    background-color: $fgColor;
    bottom: 0;
}
.custom-popover {
    z-index: 10;
    
    .popover-header {
        color: black !important;
    }
}
.districting-labels {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* #endregion */

/* #region table */
#district-tablebody {
    min-height: 1 !important;
}
.MuiDataGrid-sortIcon {
    color: $accentColor !important;
}
.kosta-test {
    border-radius: 0;
    width:150px;
}
.datagrid {
    background-color: $bgColor;
    color: white !important;
}
.hover-area{
    display: flex;
    flex-direction: column;
}
.white-icon{
    color: white;
}
.button-submit{
    background-color: $fgColor !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.submit{
    width: 150px;
}
.MuiDataGrid-iconButtonContainer {
    color: white !important;
}
.MuiSvgIcon-fontSizeSmall {
    color: white;
}
.MuiSvgIcon-root{
    color: white;
}
/* #endregion */

/* #region vertical-tabs */
.dark-tabpanel {
    background-color: $bgColor;
}
.dark-chart {
    margin-top: -3%;
}
/* #endregion */
