/* #region variables */
$bgColor: #1f1f1f;
$fgColor: #161616;
$accentColor: #4285F4;
$accentColor2: #28a745;
$accentColor3: #ffc107;
$accentColor4: #dc3545;
$accentColor5: #17a2b8;
$textColor: whitesmoke;
/* #endregion */

/* #region general-stuff */
body {
    background-color: $bgColor;
}
p {
    color: $textColor;
}
h1 {
    color: $textColor;
}
h2 {
    color: $textColor;
}
h3 {
    color: $textColor;
}
.rainbow-text {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   
    -webkit-background-clip: text;
    background-clip: text;
    -moz-background-clip: text;
    color: transparent;
    text-align: left;
    font-style: bold;
    padding-left: 10px;
}
.loading-icon {
    color: $accentColor;
    margin: 0;
    height: 100px !important;
    width: 100px !important;
}
.loading-container {
    height: 40em;
    display: flex;
    align-items: center;
    justify-content: center;
}
#left-app {
    min-width: 50%;
    max-width: 50%;
}
#right-app {
    min-width: 50%;
    max-width: 50%;
}
/* #endregion */

/* #region map */
.map-container {
    position:relative;
    height: 100%;
    width: 100%;
}
.map-fade {
    position: absolute;
    pointer-events: none;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 5em 0em 5em $bgColor;
    z-index: 5;
}
.map-wrapper {
    position: absolute;
    height: 100%;
    width: 49%;
}
#map-filter {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    border-radius: 3px;
    width: 150px;
    height: 45px;
    transition: height 0.5s;
    display: block;
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid $accentColor;
    border-top: 1px solid $accentColor;
    background-color: $fgColor;
    color:$textColor;
    overflow: hidden;
    .form-check {
        display: none;
        padding: 5px;
        margin-left: 25%;
    }
    #map-filter-label {
        text-align: center;
    }
}
#map-filter:hover {
    height: 225px !important;
    .form-check {
        display: block;
    }
}
#map-filter-districts:checked {
    background-color: grey;
}
#map-filter-counties:checked {
    background-color: purple;
}
#map-filter-precincts:checked {
    background-color: green;
}
#map-filter-census-blocks:checked {
    background-color: yellow;
}
/* #endregion */

/* #region topbar */
#topbar {
    position: relative;
    background-color: $fgColor;
    border-radius: 15px;
    width: 100%;
    height: 50%;
    margin-top: 5px;
}
.topbar-item {
    padding: 6px;
    margin: auto;
}
.topbar-text {
    display: inline-block;
    margin: auto;
    color: $textColor;
}
#state-dropdown {
    width: 150px;
}
.state-dropdown-option {
    width: 150px;
}
#topbar-status {
    text-align: right;
    div {
        cursor: pointer;
        border-radius: 5px;
        background-color: $bgColor;
        border: 1px dashed $bgColor;
        display: inline-block;
    }
    h3 { 
        padding: 5px;
        color: $accentColor;
    }
    svg {
        color: $accentColor !important;
        margin-bottom: 7px;
        margin-left: 5px;
    }
}
/* #endregion */

/* #region statetabs */
#state-tabs {
    width: 105%;
    padding-left: 0;
}
.nav-tabs {
    background-color: $bgColor;
}
.nav-link, .nav-link:focus, .nav-link:hover, .nav-link:active {
    color: $textColor;       
}
.nav-link.active {
    color: black !important;
}
.instructions-container {
    height: 50em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.website-icon {
    max-width: 45%;
    height: auto;
    padding-bottom: 20px;
}
/* #endregion */

/* #region scrollbar */
/* add scrollbar and scrollbar-primary to className if you wish to make container scrollable */
.scrollbar {
    height: 75vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
/* custom scrollbar colors  */
.scrollbar-primary::-webkit-scrollbar {
    background-color: #F5F5F5;
}
.scrollbar-primary {
    scrollbar-color: $accentColor $fgColor;
}
.scrollbar-primary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: $accentColor;
}
/* #endregion */

/* #region districtings */
.thumbnail:hover {
    background-color: $accentColor;
    opacity: 0.65;
}
.districting-img {
    margin-top: 8%;
    margin-bottom: 8%;
    cursor: pointer;
}
#districtings {
    background-color: $fgColor;
    bottom: 0;
}
.custom-popover {
    z-index: 10;
    
    .popover-header {
        color: black !important;
    }
}
.districting-labels {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* #endregion */

/* #region districtingModal */
#districting-modal-dropdown {
    margin-bottom: 10px;
}
#districting-modal-stats {
    padding: 0.5%;
    margin: 0.1%;
    display: none;
    .col {
        margin-left: 1%;
        margin-right: 1%;
    }
}
.districting-modal-table {
    background-color: $fgColor;
    border: 1px solid black;
    .row {
        display: flex;
        justify-content: space-between;
        height: 50px;
    }
    .row:not(:last-child) {
        border-bottom: grey 1px solid;
    }
    p {
        margin-top: auto;
        margin-bottom: auto;
        display: inline-block;
        width: 50%;
    }
}
.districting-modal-value {
    width: 25% !important;
    text-align: right;
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
    p {
        color: $accentColor5;
    }
}
#districting-modal-congressional {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
#districting-modal-election {
    text-align: center;
    padding: 8px;
    margin-bottom: 10px;
    p {
        color: $accentColor2;
        margin: 0;
    }
}
.districting-modal-congressional-block {
    background-color: $fgColor;
    border: 1px solid black;
    height: auto;
    .row {
        margin: auto;
    }   
}
#districting-modal-dem {
    color: $accentColor;
}
#districting-modal-rep {
    color: $accentColor4;
}
#districting-modal-progress {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 4%;
    background-color: $accentColor4;
    div {
        margin: 0;
        max-width: 100%;
        background-color: $accentColor4;
    }
}
/* #endregion */

/* #region table */
#district-tablebody {
    min-height: 1 !important;
}
.MuiDataGrid-sortIcon {
    color: $accentColor !important;
}
.kosta-test {
    border-radius: 0;
    width:150px;
}
.datagrid {
    background-color: $bgColor;
    color: white !important;
}
.hover-area{
    display: flex;
    flex-direction: column;
}
.white-icon{
    color: white;
}
.button-submit{
    background-color: $fgColor !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.submit{
    width: 150px;
}
.MuiDataGrid-iconButtonContainer {
    color: white !important;
}
.MuiSvgIcon-fontSizeSmall {
    color: white;
}
.MuiSvgIcon-root{
    color: white;
}
/* #endregion */

/* #region StatGraphs */
.dark-tabpanel {
    background-color: $fgColor;
    width: 100%;
    height: 325px;
}
.dark-chart {
    position: relative;
    margin-top: -1.5%;
    height: 295px;
    max-width: 600px;
}
.vertical-tab-bar {
    min-width: 165px;
    max-width: 165px;
}
#box-whisker-container {
    position: static;
    width: 100%;
}
#box-whisker {
    height: 100% !important;
}
#box-whisker-form {
    color: $textColor;
    background-color: $bgColor;
    height: 260px;
    max-width: 600px;
    padding: 5px;
    margin-top: -1.5%;
    margin-left: 0%;
}
#box-whisker-form-left {
    height: 275px;
}
#box-whisker-form-right {
    overflow-y: auto;
    max-height: 255px;
    border-left: 1px solid grey;
}
#box-whisker-button-container {
    max-width: 600px;
    margin-left: 1px;
}
#box-whisker-submit {
    margin-bottom: 5px;
    margin-top: 5px;
}
#tab-section {
    min-width: 165px;
    max-width: 165px;
}
#poptype-dropdown {
    margin-left: 20px;
    margin-left: 20px;
    margin-top: 40%;
    max-width: 150px;
    white-space: normal;
}
/* #endregion */

/* #region modal */
.dark-modal {
    .modal-content {
        background-color: $bgColor !important;
    }
    div {
        color: $textColor;
    }
    .btn-close {
        background-color: grey !important;
    }
    .modal-footer {
        background-color: $fgColor;
        button {
            border: 1px solid black;
        }
    }
}
.modal-sizingtest {
    width: 60vw;
    max-width: 60vw;
    height: 30vw;
}
.modal-spaced-footer {
    display: flex;
    justify-content: space-between;
    padding: 2px;
    padding-left: 11.5%;
    padding-right: 11%;
    padding-bottom: 1.5%;
    padding-top: 2%;
    border-top: 1px solid white;
}
/* #endregion */

/* #region measure-table */
.MuiTooltip-tooltip {
    background-color: #747474 !important;
}
.formula-text {
    color: $textColor;
    font-size: 15px;
}
.formula-svg {
    max-width: 290px;
    max-height: 290px;
    filter: invert(100%) brightness(100%);
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.measure-table {
    width: 100% !important;
}
/* #endregion */

/* #region algLimits */
.constraint-group {
    background-color: $fgColor;
    padding: 5px;
    max-width: 80%;
    margin: auto;
    margin-bottom: 1%;
    margin-top: 1%;
    border: 1px solid black;
}
.constraint-label {
    display: flex;
    justify-content: space-between;
    padding: 5px;

    h3 {
        display: inline;
        color: $accentColor
    }
    label {
        font-size: 20px;
    }
}
.constraint-slider {
    padding-left: 6%;
    padding-right: 6%;
}
/* #endregion */

/* #region algProgress */
.progress-block {
    background-color: $fgColor;
    border: 1px solid black;
    padding: 0.5%;
    max-width: 32%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.progress-label {
    text-align: center;
}
.progress-value {
    text-align: center;
}
#progress-iterations {
    color: $accentColor;
}
#progress-equality {
    color: $accentColor3;
}
#progress-compactness {
    color: $accentColor5;
}
.progress-graph {
    background-color: $fgColor;
    border: 1px solid black;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}
#progress-time {
    color: $accentColor2;
}
#progress-time-remaining {
    color: $accentColor4;
}
.progress-bar {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5%;
    margin-bottom: 1%;
    background-color: transparent;
    div {
        margin: 0;
        max-width: 100%;
        background-color: $fgColor;
    }
}
/* #endregion */

/* #region algResults */

/* #endregion */
