/* #region variables */
$bgColor: #1f1f1f;
$fgColor: #161616;
$accentColor: #4285F4;
$textColor: whitesmoke;
/* #endregion */

/* #region general-stuff */
body {
    background-color: $bgColor;
}
p {
    color: $textColor;
}
h1 {
    color: $textColor;
}
h2 {
    color: $textColor;
}
h3 {
    color: $textColor;
}
.rainbow-text {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   
    -webkit-background-clip: text;
    background-clip: text;
    -moz-background-clip: text;
    color: transparent;
    text-align: left;
    font-style: bold;
}
.loading-icon {
    color: $accentColor;
    margin: 0;
    height: 100px !important;
    width: 100px !important;
}
.loading-container {
    height: 40em;
    display: flex;
    align-items: center;
    justify-content: center;
}
#left-app {
    min-width: 50%;
    max-width: 50%;
}
#right-app {
    min-width: 50%;
    max-width: 50%;
}
/* #endregion */

/* #region map */
.map-container {
    position:relative;
    height: 100%;
    width: 100%;
}
.map-fade {
    position: absolute;
    pointer-events: none;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 5em 0em 5em $bgColor;
    z-index: 5;
}
.map-wrapper {
    position: absolute;
    height: 100%;
    width: 49%;
}
#map-filter {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    border-radius: 3px;
    width: 150px;
    height: 45px;
    transition: height 0.5s;
    display: block;
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid $accentColor;
    border-top: 1px solid $accentColor;
    background-color: $fgColor;
    color:$textColor;
    overflow: hidden;
    .form-check {
        display: none;
        padding: 5px;
        margin-left: 25%;
    }
    #map-filter-label {
        text-align: center;
    }
}
#map-filter:hover {
    height: 225px !important;
    .form-check {
        display: block;
    }
}
#map-filter-districts:checked {
    background-color: grey;
}
#map-filter-counties:checked {
    background-color: purple;
}
#map-filter-precincts:checked {
    background-color: green;
}
#map-filter-census-blocks:checked {
    background-color: yellow;
}
/* #endregion */

/* #region topbar */
#state-dropdown {
    position: relative;
    top: 0%;
    left: 50%;
    width:200px;
    align-self: left;
}
.state-dropdown-option{
    width:200px;
}
#topbar {
    z-index: 6;
    background-color: #191919;
    height: 100 px;
    padding:20px;
    display:flex;
    flex-direction: column;
    border-radius: 10px;
}
.topbar-text {
    color: whitesmoke;
    position: relative;
    top: 0%;
    display: inline;
}
/* #endregion */

/* #region statetabs */
#state-tabs {
    width: 105%;
    padding-left: 0;
}
.nav-tabs {
    background-color: $bgColor;
}
.nav-link, .nav-link:focus, .nav-link:hover, .nav-link:active {
    color: $textColor;       
}
.nav-link.active {
    color: black !important;
}
.instructions-container {
    height: 50em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.website-icon {
    max-width: 45%;
    height: auto;
    padding-bottom: 20px;
}
/* #endregion */

/* #region scrollbar */
/* add scrollbar and scrollbar-primary to className if you wish to make container scrollable */
.scrollbar {
    height: 75vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
/* custom scrollbar colors  */
.scrollbar-primary::-webkit-scrollbar {
    background-color: #F5F5F5;
}
.scrollbar-primary {
    scrollbar-color: $accentColor $fgColor;
}
.scrollbar-primary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: $accentColor;
}
/* #endregion */

/* #region districtings */
.thumbnail:hover {
    background-color: $accentColor;
    opacity: 0.65;
}
.districting-img {
    margin-top: 8%;
    margin-bottom: 8%;
}
#districtings {
    background-color: $fgColor;
    bottom: 0;
}
.custom-popover {
    z-index: 10;
    
    .popover-header {
        color: black !important;
    }
}
.districting-labels {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* #endregion */

/* #region table */
#district-tablebody {
    min-height: 1 !important;
}
.MuiDataGrid-sortIcon {
    color: $accentColor !important;
}
.kosta-test {
    border-radius: 0;
    width:150px;
}
.datagrid {
    background-color: $bgColor;
    color: white !important;
}
.hover-area{
    display: flex;
    flex-direction: column;
}
.white-icon{
    color: white;
}
.button-submit{
    background-color: $fgColor !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.submit{
    width: 150px;
}
.MuiDataGrid-iconButtonContainer {
    color: white !important;
}
.MuiSvgIcon-fontSizeSmall {
    color: white;
}
.MuiSvgIcon-root{
    color: white;
}
/* #endregion */

/* #region StatGraphs */
.dark-tabpanel {
    background-color: $fgColor;
    width: 100%;
    height: 325px;
}
.dark-chart {
    position: relative;
    margin-top: -1.5%;
    height: 295px;
    max-width: 600px;
}
.vertical-tab-bar {
    min-width: 165px;
    max-width: 165px;
}
#box-whisker-container {
    position: static;
    width: 100%;
}
#box-whisker {
    height: 100% !important;
}
#box-whisker-form {
    background-color: $bgColor;
    height: 260px;
    max-width: 600px;
    padding: 5px;
    margin-top: -1.5%;
    margin-left: 0%;
}
#box-whisker-form-left {
    height: 275px;
}
#box-whisker-form-right {
    overflow-y: auto;
    max-height: 255px;
    border-left: 1px solid grey;
}
#box-whisker-button-container {
    max-width: 600px;
    margin-left: 1px;
}
#box-whisker-submit {
    margin-bottom: 5px;
    margin-top: 5px;
}
#tab-section {
    min-width: 165px;
    max-width: 165px;
}
#poptype-dropdown {
    margin-left: 20px;
    margin-left: 20px;
    margin-top: 40%;
    max-width: 150px;
    white-space: normal;
}
/* #endregion */

/* #region modal */
.dark-modal {
    .modal-content {
        background-color: $bgColor !important;
    }
    div {
        color: $textColor;
    }
    .btn-close {
        background-color: grey !important;
    }
}
.modal-sizingaa {
    width: 60vw;
    max-width: 60vw;
    height: 30vw;
}
/* #endregion */

/* #region measure-table */
.MuiTooltip-tooltip {
    background-color: #747474 !important;
}
.formula-text {
    color: $textColor;
    font-size: 15px;
}
.formula-svg {
    max-width: 290px;
    max-height: 290px;
    filter: invert(100%) brightness(100%);
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.measure-table {
    width: 100% !important;
}
/* #endregion */