body {
    background-color: #1f1f1f;
}
p {
    color: whitesmoke;
}
.map-container {
    position:relative;
    height: 100%;
    width: 100%;
}
.map-fade {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 1.5em 0em 0.5em #1f1f1f;
    z-index: 5;
}
.map-wrapper {
    position: absolute;
    height: 100%;
    width: 49%;
}
#state-dropdown {
    position: relative;
    top: 50%;
    width:200px;

}
.state-dropdown-option{
    width:200px;
}
#topbar {
    z-index: 6;
    background-color: #161616;
    height: 100 px;
    padding:20px;
    display:flex;
    flex-direction: column;
}
.topbar-text {
    color: whitesmoke;
    position: relative;
    top: 20%;
}
.rainbow-text {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-align: left;
    font-style: bold;
}

/* StateTabs styling */
#state-tabs {
    width: 105%;
    padding-left: 0;
}
.nav-tabs {
    background-color: #1f1f1f;
}
.nav-link, .nav-link:focus, .nav-link:hover {
    color: whitesmoke;       
}

/* Scrollbar styling */
/* add scrollbar and scrollbar-primary to className if you wish to make container scrollable */
.scrollbar {
    height: 75vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
/* custom scrollbar colors  */
.scrollbar-primary::-webkit-scrollbar {
    background-color: #F5F5F5;
}
.scrollbar-primary {
    scrollbar-color: #4285F4 #161616;
}
.scrollbar-primary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #4285F4;
}
.thumbnail:hover {
    background-color: #4285F4;
    opacity: 0.65;
}
.redistricting-img {
    margin-top: 8%;
    margin-bottom: 8%;
}
#redistrictings {
    background-color: #161616;
    bottom: 0;
}
.custom-popover {
    z-index: 10;
}