.kosta-test{
    border-radius: 0;
    width:150px;
}

.datagrid{
    background-color: #1f1f1f;
    color: white !important;
}
.hover-area{
    display:flex;
    flex-direction: column;
}

.white-icon{
    color:white;
}

.button-submit{
    background-color: #161616 !important;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.submit{
    width:150px;
}

.MuiDataGrid-iconButtonContainer {
    color:white !important;
}
.MuiSvgIcon-root{
    color:white !important;
}

.dark-tabpanel {
    background-color: #1f1f1f;
}

.dark-chart {
    margin-top: -3%;
}

.districting-labels{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}